@model ToDoApp.Entity.ToDo
@{
    ViewBag.Title = Model.Id;
}
<h2>Пользователь @Model.Id</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Context</dt>
        <dd>@Model.Context</dd>

        <dt>DateCreate</dt>
        <dd>@Model.DateCreate</dd>
        <dt>DateDue</dt>
        <dd>@Model.DateDue</dd>
        <dt>DateFor</dt>
        <dd>@Model.DateFor</dd>
    </dl>
</div>