@model IEnumerable<ToDoApp.Entity.ToDo>
@{
    ViewBag.Title = "ToDo List";
}
<a asp-action="Create">New</a>
<div class="text-center">
    <table class="table-bordered">
        <tr>
            <th>Id</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.ContextSort">Context</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateCreateSort">DateCreate</a>
            </th>
            <th>Actions</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Context</td>
            <td>@item.DateCreate</td>
            <td>
                <a asp-action="Detail" asp-controller="Home" asp-route-Id="@item.Id">Detail </a>
                <a asp-action="Edit" asp-controller="Home" asp-route-Id="@item.Id">Edit </a>
                <a asp-action="Delete" asp-controller="Home" asp-route-Id="@item.Id" method="delete">Delete</a>
            </td>
        </tr>
        }
    </table>
</div>
